/* CSS for RustBelt Developer */
body{
  font-family: 'Droid Sans', sans-serif;
  font-size:100%;
  color:#333;
  line-height:150%;
	background-color:#FCFCFA;
}

h1{
	font-family: 'Droid Sans', sans-serif;
  font-weight:500;
  color:#1C0113; 
  text-shadow:0 1px 0px rgba(255,255,255,.5);
	font-size:3em;
}

h3{
	font-family: 'Droid Sans', sans-serif;
	font-size:1.2em;
}

header{
	width:100%;
}

.header-text{
  font-family: 'Vollkorn', serif;
	font-weight: 700;
	color: #A67726;
	font-size:5em;
	padding:40px 0 40px 0;
}

.link-row{
	margin-bottom:3.75em;
}

.the-post{
	padding-bottom:2.5em;
	border-bottom:solid 5px #A67726;
	margin-bottom:4em;
}

.top-links{
  list-style: none;
  margin-left:0;
  margin-bottom:50px;
  padding-top:30px;
}

.top-links li{
  float:left;
  margin-right:20px;
	font-size:1.375em;
}

.top-links li a{
	color:#8C774F;
}

p{
	font-size:1.125em;
	line-height:1.8;
}

.preview-box img{
	margin-left:20px;
}

.categories{
	background-color:#FFF;
	border:solid 1px #ccc;
	box-sizing:border-box;
	padding:0 20px 10px 20px;
	float:right;
}
.categories strong{
	display:block;
	margin-top:10px;
}
.categories ul{
	list-style:none;
	margin-left:5px;
	font-size:12px;
}

.wp_syntax{
	margin-left:60px;
}
