/* CSS for RustBelt Developer */
body{
  font-family:'Helvetica', Arial, sans-serif;
  font-size:16px;
  color:#333;
  line-height:150%;
  background-image:url(../img/noisy_grid.png);
	padding-top:100px;
}


h1{
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  color:#1C0113; 
  text-shadow:0 1px 0px rgba(255,255,255,.5);
}

header{
	position:fixed;
	width:100%;
	z-index:1000;
	top:0;
	background-color:#F03C02;
	box-shadow:0 1px 0px rgba(255,255,255,.5);
}

.header-text{
	font-size: 2em;
	line-height: 100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
	color: #FFF;
	padding-top: 20px;
	text-shadow: 0 1px 0 rgba(0,0,0,1);
}


.top-links{
  list-style: none;
  margin-left:0;
  margin-bottom:50px;
  padding-top:30px;
}

.top-links li{
  float:left;
  margin-right:20px;
}

.top-links li a{
	color:#FFF;
}

.preview-box{
  background-color:#FFF;
  box-shadow:0 2px 5px rgba(0,0,0,.5);
  margin-bottom:60px;
}

.preview-box h1{
  margin:20px;
}

.preview-box p{
  margin:20px;
}

.preview-box img{
	margin-left:20px;
}

.categories{
	background-color:#FFF;
	border:solid 1px #ccc;
	box-sizing:border-box;
	padding:0 20px 10px 20px;
}
.categories strong{
	display:block;
	margin-top:10px;
}
.categories ul{
	list-style:none;
	margin-left:5px;
	font-size:12px;
}

